<h1>Jim Vrana</h1>
<p><a href="mailto:jimvrana@gmail.com" target="_top">jimvrana@gmail.com</a></p>
<p></p>
<p></p>
<p>Please select 'People' from the menu above.</p>
<p></p>
<p>The names available in the people application are:</p>
<div class="row">
    <div class="col-md-6">
        <table mdbTable class="z-depth-1" striped="true" small="true">
            <thead class="black white-text">
                <th>First Name</th>
                <th>Last Name</th>
            </thead>
            <tbody>
                <tr>
                    <td>Dipper</td>
                    <td>Pines</td>
                </tr>
                <tr>
                    <td>Mabel</td>
                    <td>Pines</td>
                </tr>
                <tr>
                    <td>Grunkle Stan</td>
                    <td>Pines</td>
                </tr>
                <tr>
                    <td>Soos</td>
                    <td>Ramirez</td>
                </tr>
                <tr>
                    <td>Wendy</td>
                    <td>Corduroy</td>
                </tr>
                <tr>
                    <td>Bill</td>
                    <td>Cipher</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-3">&nbsp;</div>
</div>